*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --card-shadow:#18181f;
}
body{
    font-family:"Merriweather Sans", sans-serif;
    background:var(--body-bg-color);
    color:var(--text-color);    
}
ul{
    list-style: none;
}

a{
    text-decoration:none;
    color:var(--text-color);
    font-size: .9rem;
}

.container{
    display:flex;

}
/*------------HEADER*/
.header{
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: space-around;
    margin:0 1rem;
}
.profile-photo{
    background:var(--bg-cards);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1.5rem 0; 
    border-radius:.75rem;
    box-shadow:1px 1px 1px var(--card-shadow);
}   

.name-profession{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:1rem;
}

.name-profession p{
    font-weight: 700;
    font-size:1.1rem;
}

.name-profession span{
    font-size:.73rem;
}

.photo img{
    width:80px;
    height:80px;
    border-radius: 50%;
    border:solid 3px rgb(72, 255, 72);
}
/*--------------HEADER-INFORMATIONS*/

.informations{
    background:var(--bg-cards);
    padding:1rem 1.5rem;
    border-radius:.75rem;
    box-shadow: 1px 1px 1px #18181f;
}

.item-details{
    padding:.5rem 0;
    display:flex;
    align-items:center;
    font-size:.8rem;
}
.item-details img{
    padding-right:.7rem;
    width:32px;
    filter: invert(54%) sepia(26%) saturate(360%) hue-rotate(209deg) brightness(89%) contrast(83%);
}

.languages{
    background:var(--bg-cards);
    padding:1rem;
    border-radius:.75rem;
    box-shadow:1px 1px 1px var(--card-shadow)
}

.languages table{
    padding:1rem .5rem 0;
    border-spacing:.5rem .5rem;
}

.languages table tr td{
    font-size:.75rem;
    width:5rem;
    height:1.1rem;
    text-align: center;
    font-weight: bold;
    border-radius:.75rem;
    background:var(--bg-techs);
    color:var(--body-bg-color); 
}

/*---------------DESCRIPTION*/

.description{
    width:70%;
    margin:1rem auto;
}

.my-projects{
    background:var(--bg-cards);
    padding:1rem 1.5rem;
    display:flex;
    justify-content: space-between;
    border-radius:.75rem;
    box-shadow:1px 1px 1px var(--card-shadow);
}

.wrapRepository{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
}

.card-repository{
    background:var(--bg-cards);
    margin:1rem 0;
    padding:0 1rem;
    border-radius:.75rem;
    box-shadow:1px 1px 1px var(--card-shadow);
}

.card-name{
    display:flex;
    align-items: center;
    gap:1.4rem;  
    margin:1.5rem 0 1rem;
}
.card-repository p{
    font-size:.8rem;
}
.icon{
    filter: invert(54%) sepia(26%) saturate(360%) hue-rotate(209deg) brightness(89%) contrast(83%);
    width:16px;
}
.icon.folder{
    width:20px;
}

.card-details .favorites{
    padding:1.5rem 0 0;
    display:flex;
    gap:1rem;
}
.star{
    display:flex;
    align-items: center;
}

.card-details .favorites span{
    padding:0 .5rem;
    font-size:.8rem;
}
.card-details{
    display:flex;
    justify-content: space-between;
    padding:0 0 .5rem;
}
.white-ball{
    width:10px;
    height:10px;
    border-radius:50%;
    border: 1px solid lightseagreen;
    background:rgb(223, 223, 223);

}
.tecnology{
    display:flex;
    gap:.3rem;
    align-items: flex-end;
}
.tecnology span{
    font-size:.8rem;
}
.tecnology-language{
    display:flex;
    align-items: center;
    gap:.5rem;
}